# Ignore .o files
*.o

# Ignore .class files
*.class

# Ignore temporary files
*~

# Ignore log files
*.log

# Ignore the build and jars directories
build/
jars/
jars-instrumented/
lib/rescuecore.jar
lib/resq-fire.jar

# Ignore .rays files
*.rays
